{
  email {$ACME_EMAIL}
}

http://{$MAIL_HOSTNAME}, http://{$IDENTITY_HOSTNAME} {
  redir https://{host}{uri} permanent
}

{$MAIL_HOSTNAME} {
  @admin path /admin* /api/* /api
  respond @admin 404
  reverse_proxy http://{$HOME_WIREGUARD_IP}:{$HOME_STALWART_HTTP_PORT}
}

{$IDENTITY_HOSTNAME} {
  reverse_proxy http://{$HOME_WIREGUARD_IP}:{$HOME_IDENTITY_SERVICE_PORT}
}
